# Python
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/
.python-version
venv/
.env
.env.*
!.env.example
.venv/
env/
build/
dist/
eggs/
*.egg-info/
pip-wheel-metadata/
*.egg
.manifest
*.manifest
*.spec

# IDEs
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# macOS
.DS_Store

# Coverage and test artifacts
.coverage
.coverage.*
htmlcov/
coverage.xml

# MyPy
.mypy_cache/

# Distribution / packaging
.eggs/

# Others
*.log
*.sqlite3
artifacts/*.json
